h1{
    color: green;
    font-size: 36px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p {font-size: 18px;
    line-height: 1,5;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}
section {
    color: rgb(3, 37, 8);
    font-size: 25px;
    text-align: justify;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
ul {
    line-height: 1,5;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
width: 200px;
height: 100vh; /* Full height of the viewport */
position: fixed; /* Stay in place */
left: 0;
top: 0;
background-color: #333;
padding-top: 20px;
}

.container ul {
list-style-type: none;
padding: 0;
}

.container ul li {
padding: 10px;
text-align: center;
}

.container ul li a {
color: white;
text-decoration: none;
display: block;
}

.container ul li a:hover {
background-color: #575757;
}

content {
margin-left: 220px; 
padding: 20px;
}