h1{
    color: green;
    font-size: 36px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p {font-size: 18px;
    line-height: 1,5;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;

}
section {
    color: rgb(3, 37, 8);
    font-size: 25px;
    text-align: justify;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
ul {
    line-height: 1,5;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.topnav ul li {
    float: left;
}

.topnav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.topnav ul li a:hover {
    background-color: #575757;
}
.content {
margin-left: 220px; 
padding: 20px;
}