body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    margin: 0;
    background-color: #f4f4f4;
    gap: 20px;
  }

  .profile-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    
    ;
  }

  .profile-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .profile-card h2 {
    margin: 15px 0 5px 0;
  }

  .profile-card .info {
    color: #888;
    margin-bottom: 15px;
  }

  .profile-card .details {
    text-align: left;
    margin-top: 15px;
  }

  .profile-card .details div {
    margin: 10px 0;
  }

  .profile-card .details div span {
    font-weight: bold;
    color: #333;
  }